@model IEnumerable<VintageAmazon.Models.Product>

<div class="container-fluid d-block home-background">
    <div class="col-12">
        <img src="~/images/Home1.png" class="w-100" />
    </div>
</div>
<br />
<br />
<hr />
@if (Model != null && Model.Any())
{
    var categories = Model.Select(p => p.Category).Distinct();
    foreach (var category in categories)
    {
        <h3>
            <ul>@category.Name</ul>
        </h3>

        <div class="row pb-3">
            <div class="col-lg-12">
                
                @{
                    var carouselId = $"productCarousel-{category.Id}";
                }

                <div class="carousel slide mx-auto" id="@carouselId" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            var productsInCategory = Model.Where(p => p.Category == category);
                            var chunkSize = 3;
                            var numChunks = (int)Math.Ceiling((double)productsInCategory.Count() / chunkSize);
                            for (int i = 0; i < numChunks; i++)
                            {
                                var chunkStart = i * chunkSize;
                                var chunkEnd = Math.Min(chunkStart + chunkSize, productsInCategory.Count());
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = chunkStart; j < chunkEnd; j++)
                                        {
                                            var product = productsInCategory.ElementAt(j);
                                            <div class="col-lg-3 col-md-6 container">
                                                <div class="row p-2">
                                                    <div class="col-12 p-1 card d-flex justify-content-center rounded">
                                                        <a asp-action="Details" asp-route-productId="@product.Id">
                                                            <img src="@product.ImageUrl" class="card-img-top rounded" style="width: 100%; aspect-ratio: 3/2;" />
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="pl-1">
                                                                <p class="card-title h5 text-primary">@product.Title</p>
                                                                <p class="card-title h5 text-info">by <u>@product.Author</u></p>
                                                            </div>

                                                            @if(product.Quantity > 0)
                                                            {
                                                                <div class="pl-1">
                                                                    <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                                                                </div>
                                                                <div class="pl-1">
                                                                    <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="pl-1">
                                                                    <p class="text-danger"><b>Sold Out!</b></p>
                                                                </div>
                                                            }

                                                        </div>
                                                        <div>
                                                            <a asp-action="Details" class="btn btn-primary mt-auto form-control rounded" asp-route-productId="@product.Id">
                                                                Details
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @{
                        var prevButtonTarget = $"#{carouselId}";
                        var nextButtonTarget = $"#{carouselId}";
                    }
                    <button class="carousel-control-prev ms-5 text-primary" type="button" data-bs-target="#@($"productCarousel-{category.Id}")" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-primary" aria-hidden="true"></span>
                        <span>Previous</span>
                    </button>
                    <button class="carousel-control-next me-5 text-primary" type="button" data-bs-target="#@($"productCarousel-{category.Id}")" data-bs-slide="next">
                        <span class="carousel-control-next-icon text-primary" aria-hidden="true"></span>
                        <span>Next</span>
                    </button>
                </div>
            </div>
        </div>
        <hr />
    }
}