@model IEnumerable<VintageAmazon.Models.Product>



@if (!Model.Any())
{
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="@Url.Action("AdvanceSearch", "Home")">
                <div class="form-row">
                    <div class="form-group">
                        <label for="searchTitle">Title</label>
                        <input type="text" class="form-control" id="searchTitle" name="searchTitle">
                    </div>
                    <div class="form-group">
                        <label for="searchAuthor">Author</label>
                        <input type="text" class="form-control" id="searchAuthor" name="searchAuthor">
                    </div>
                    <div class="form-group">
                        <label for="searchCategory">Category</label>
                        <select class="form-control" id="searchCategory" name="searchCategory">
                            <option value="">All Categories</option>
                            @foreach (var category in Model.Select(p => p.Category).Distinct())
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                        @*<select class="form-control">
                    <option value="">All Categories</option>
                    </select>*@
                    </div>
                    <div class="form-group ">
                        <label for="searchPrice">Price Range</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchPriceMin" name="searchPriceMin" placeholder="Min">
                            <div class="input-group-prepend input-group-append">
                                <span class="input-group-text">-</span>
                            </div>
                            <input type="text" class="form-control" id="searchPriceMax" name="searchPriceMax" placeholder="Max">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <img src="~/images/ResultsNotFound.png" class="mx-auto d-block" alt="No Results Found" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="@Url.Action("AdvanceSearch", "Home")">
                <div class="form-row">
                    <div class="form-group">
                        <label for="searchTitle">Title</label>
                        <input type="text" class="form-control" id="searchTitle" name="searchTitle">
                    </div>
                    <div class="form-group">
                        <label for="searchAuthor">Author</label>
                        <input type="text" class="form-control" id="searchAuthor" name="searchAuthor">
                    </div>
                    <div class="form-group">
                        <label for="searchCategory">Category</label>
                        <select class="form-control" id="searchCategory" name="searchCategory">
                            <option value="">All Categories</option>
                            @foreach (var category in Model.Select(p => p.Category).Distinct())
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                        @*<select class="form-control">
                            <option value="">All Categories</option>
                        </select>*@
                    </div>
                    <div class="form-group ">
                        <label for="searchPrice">Price Range</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchPriceMin" name="searchPriceMin" placeholder="Min" value="0">
                            <div class="input-group-prepend input-group-append">
                                <span class="input-group-text">-</span>
                            </div>
                            <input type="text" class="form-control" id="searchPriceMax" name="searchPriceMax" placeholder="Max" value="1000">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="col-md-9">
            <h1 class="pt-4">Search Results</h1>
            @foreach (var product in Model)
            {
                <div class="card text-center">
                    <div class="card-header">
                        <a asp-action="Details" asp-route-productId="@product.Id"><h2 class="text-white-70">@product.Title</h2></a>
                        <h5 class="text-warning">by @product.Author</h5>
                    </div>
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-3">
                                <img src="@product.ImageUrl" class="img-fluid" alt="@product.Title">
                            </div>
                            <div class="col-md-9">
                                @if (!string.IsNullOrEmpty(product.Description))
                                {
                                    <div id="collapse-@product.Id">
                                        <p class="description">@Html.Raw(product.Description.Substring(0, Math.Min(product.Description.Length, 400)))</p>
                                        @if (product.Description.Length > 400)
                                        {
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@product.Id" aria-expanded="false" aria-controls="collapse-@product.Id">
                                                Show More
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@product.Id" aria-expanded="false" aria-controls="collapse-@product.Id">
                                                Show Less
                                            </button>
                                        }
                                        <div id="collapse-@product.Id" class="collapse">
                                            <p class="description">@Html.Raw(product.Description.Substring(400))</p>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@product.Id" aria-expanded="false" aria-controls="collapse-@product.Id">
                                                Show Less
                                            </button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p>No description available.</p>
                                }
                                <div class="pl-1">
                                    <p class="text-muted">List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                                </div>
                                <div class="pl-1">
                                    <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted">
                        <a asp-action="Details" class="btn btn-primary  btn-sm form-control rounded" asp-route-productId="@product.Id">
                            Details
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}

